body{
    background-color: rgb(16, 17, 17);
    background-image: url("grocery/Groceries\ login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
label{
    color: rgb(231, 227, 8);;
}
h2{
    color: rgb(209, 231, 8);
    border-radius: 0cqmax;
}
button{
    color: rgb(28, 210, 8);
}

#form{
    width:400px;
    margin:20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding:30px;
}



#form button{
    background-color:rgb(209, 231, 8) ;
    color:white;
    border: 1px solid #341897;
    border-radius: 5px;
    padding:10px;
    margin:20px 0px;
    cursor:pointer;
    font-size:20px;
    width:100%;
}

.input-group{
    display:flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{
    border-radius: 5px;
    font-size:20px;
    margin-top:5px;
    padding:10px;
    border:1px solid rgb(131, 195, 34) ;
}

.input-group input:focus{
    outline:0;
}

.input-group .error{
    color:rgb(140, 59, 59);
    font-size:16px;
    margin-top: 5px;
}

.input-group.success input{
    border-color: #0d784c;
}

.input-group.error input{
    border-color:rgb(206, 67, 67);
}